.box {
    width: 90%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    border-radius: 20px;
}

.search_box {
    position: fixed;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    top: 30px;
    z-index: 1;
    left: 60%;
    
}

.input {
    border-radius: 7px;
    height: 25px;
}

@media only screen and (max-width: 1113px) {
    .search_box {
        width: 200px;
        top: 65px;
        z-index: 1;
        left: 40%;
        
    }
}

@media only screen and (max-width: 480px) {
    .box {
        width: 80%;
    }

    .search_box {
        width: 200px;
        top: 65px;
        z-index: 1;
        left: 25%;
        
    }

}

